<mat-card class="taskCard">
  <mat-card-title [class.done]="taskItem.isDone"
    ><span *ngIf="!showEditField; else editBlock">{{
      taskItem.taskValue
    }}</span>
  </mat-card-title>
  <mat-card-actions align="end" *ngIf="!showEditField">
    <button mat-button (click)="showEditField = true">
      <span>edit</span><mat-icon class="icon">edit</mat-icon>
    </button>
    <button mat-button (click)="delete()">
      <span>delete</span><mat-icon class="icon">delete</mat-icon>
    </button>
    <button mat-button (click)="complete()">
      <span>DONE</span><mat-icon class="icon">task_alt</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #editBlock
  ><form class="example-form" (submit)="update(task.value)">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>update task </mat-label>
      <input matInput [value]="taskItem.taskValue" #task required />
    </mat-form-field>
    <button mat-button type="submit">safe</button>
  </form>
</ng-template>
